@import 'theme';

.hero {
  padding: $padding * 6 0;
  background-image: linear-gradient(to right, $background, $darkest);
  border-bottom: 1px solid $darkest;

  h1 {
    border-bottom: 1px solid transparentize($brand, .5);

    @include mobile {
      text-align: center;
    }

  }

  p {
    max-width: 60ch;

    @include mobile {
      text-align: center;
    }
  }
}
