<div class="gutter">
  <div class="footer-grid">
    <section>
      <h2>News</h2>
      <a href="">Our current project</a>
      <a href="">The latest video</a>
      <a href="">Something else</a>
    </section>
    <section>
      <h2>Information</h2>
      <a href="">Press Inquiry</a>
      <a href="">Products</a>
    </section>
    <section>
      <h2>Contact</h2>
      studio23@indiedev.io
    </section>
    <aside>
      <a href=""><span class="fab fa-twitter"></span></a>
      <a href=""><span class="fab fa-youtube"></span></a>
      <a href=""><span class="fab fa-discord"></span></a>
      <a href=""><span class="fab fa-facebook"></span></a>
    </aside>
  </div>
</div>
