<div class="callout-wrapper">
  <section class="discord" (click)="goToSocial(discordLink)">
    <div>
      <div>
        <span class="fab fa-discord"></span>
      </div>
      <div>
        <h2>Join us on Discord</h2>
      </div>
    </div>
  </section>

  <section class="twitch" (click)="goToSocial(twitchLink)">
    <div>
      <div>
        <span class="fab fa-twitch"></span>
      </div>
      <div>
        <h2>Watch us on Twitch</h2>
      </div>
    </div>
  </section>

  <section class="youtube" (click)="goToSocial(youtubeLink)">
    <div>
      <div>
        <span class="fab fa-youtube"></span>
      </div>
      <div>
        <h2>Find us on Youtube</h2>
      </div>
    </div>
  </section>

  <section class="twitter" (click)="goToSocial(twitterLink)">
    <div>
      <div>
        <span class="fab fa-twitter"></span>
      </div>
      <div>
        <h2>Talk to us on Twitter</h2>
      </div>
    </div>
  </section>
</div>
