<section class="hero">
  <div class="gutter">
    <h1>Fresh Indie Games</h1>
    <p>We want to create great quality games while maintaining our independence, creating great games for all lovers of
      games </p>
  </div>
</section>

<section class="who-are-we">
  <div class="gutter">
    <app-team-info></app-team-info>
  </div>
</section>

<section class="project-countdown">
  <div class="gutter">
    <h1 class="center-text">Project Announcement</h1>
    <app-countdown (openModal)="openModal()"></app-countdown>
  </div>
</section>

<section class="callout">
  <h1 class="center-text">Find us on social media</h1>
  <app-social-hero></app-social-hero>
</section>

<app-modal [modalVisible$]="show$" (closeIntent)="closeModal()">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, pariatur.
</app-modal>
