<div class="site-grid" appOutlet>
  <header>
    <div class="gutter f-horiz-between f-vert-center">
      <div class="brand">
        <img src="assets/s23_logo.svg" alt="logo">
      </div>
      <div class="CTA-container">
        <button (click)="openModal()">Join our mailing list</button>
      </div>

    </div>
  </header>
  <main>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <footer>
      <app-footer-content></app-footer-content>
    </footer>
  </main>
</div>
