@import 'theme';

.form-label-wrapper {
  display: inline-grid;
  grid-template-rows: min-content 1fr;
  border: 1px solid transparent;
  width: 100%;
  margin-bottom: 4px;

  &.hasError {
    border-color: #ff0000;
  }

  padding: calc($padding / 2);

  .label {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 4px;
    .error {
      color: #ff0000;
    }

  }


}

