<div class="countdown-wrapper">
  <aside><h2>Unveiling our next project in...</h2></aside>
  <section class="gutter">

    <div>
      <span>{{(countdown$|async)?.days}}</span>
      <span>Days</span>
    </div>
    <div>
      <span>{{(countdown$|async)?.hours}}</span>
      <span>Hours</span>
    </div>
    <div>
      <span>{{(countdown$|async)?.minutes}}</span>
      <span>Minutes</span>
    </div>
    <div>
      <span>{{(countdown$|async)?.seconds}}</span>
      <span>Seconds</span>
    </div>
  </section>
  <section class="cta">
    <button (click)="toggleModal()">Get Notified</button>
  </section>
</div>
