<!--<div class="map-wrapper">-->

<!--  <div class="float-info">-->
<!--    <div class="gutter split">-->


<!--    </div>-->

<!--  </div>-->

<!--</div>-->



<div class="gutter split">
  <div class="pinned">
    <h1>About The Studio</h1>
    <p>Founded in 2023 Studio23Games is a small indie games company with an international spirit and roots in Denmark, Funen.</p>
    <p>Our goal is to produce fun and engaging desktop games of the highest possible quality, to satisfy people who
      share our love of games, rather than satisfying investors whose only passion is figuring out how they can
      further nickel and dime the industry to pieces.</p>
    <p>This is why we’ll always remain an independent studio for as long as we’ll make games, as we believe it is
      vital
      for creating good games.</p>
  </div>
  <app-panel [heightPx]="510">
    <div id="leaflet">
    </div>
  </app-panel>



</div>
