@import 'theme';


.project-countdown {
  background-color: transparentize($brand, 0.2);
  padding: $padding;
  display: flex;
  justify-content: center;
  align-items: center;
}


.jumbo {
  margin: 0;
  padding: calc($padding * 2) 0;
  font-size: 3em;
  text-align: center;
}
