$text: #e0e0e0;
$background: #282828;
$surface: lighten($background, 3);


$darkest: #151515;
$brand: #fa5b3d;
$brand-hover: lighten($brand, 5);

$link-color: #ffae42;
$link-color-hover: lighten($link-color, 15);

$padding: 16px;
